{% extends "bases/main_base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/pages/index.css">
{% endblock %}
{% block body %}
    <div id="root">
        <div class="pt-5 d-flex justify-content-center">
            <div class="swc-loader"><div class="swc-loader-inner"><div class="triangle left"><svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,100 100,0 100,100"></polygon></svg></div><div class="double-triangle"><svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="100,0 70,70 0,100 30,30"></polygon></svg></div><div class="triangle right"><svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,100 100,0 100,100"></polygon></svg></div></div></div>
        </div>
    </div>

    {# placed react script here for optimized loading times #}
    
    <script src="/static/js/bundle/vendors-node_modules_mui_material_index_js-node_modules_react-dom_client_js-node_modules_reac-62db6f.bundle.js"></script><script src="/static/js/bundle/main.bundle.js"></script>
{% endblock %}